{% extends "admin/admin-base.html" %}

{% block title %} Transaction List {% endblock %} 
{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Transaction List</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="admin-datatable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Invoice ID</th>
                    <th>Created By</th>
                    <th>Invoice Date</th>
                    <th>Grand Total</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for invoice in invoices %}
                        <tr>
                            <td>{{invoice.id}}</td>
                            <td>{{invoice.created_by}}</td>
                            <td>{{invoice.invoice_date}}</td>
                            <td>{{invoice.grand_total}}</td>
                            <td>
                              <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#checkoutId{{invoice.id}}">
                                Check Invoice Items
                              </button>
                          </td>
                        </tr>
                        {% include 'admin/transaction/invoice-item-modal.html' %}
                      {% endfor %}
                  </tbody>
                  </div>
                  <!-- /.modal -->
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock content %}
