  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- SidebarSearch Form -->
      <div class="form-inline mt-3">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="fas fa-users"></i>
              <p class="ml-1">
                User List
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview {% if 'product' in request.url_rule.endpoint %} menu-open {% endif %}"> <!-- menu-open -->
            <a href="#" class="nav-link"> <!-- active -->
              <i class="fas fa-tags"></i>
              <p class="ml-1">
                Products
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ml-4">
              <li class="nav-item">
                <a href="/admin/products/brands" class="nav-link">
                  <i class="fas fa-box-open"></i>
                  <p class="ml-1">Brands</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/products" class="nav-link">
                  <i class="fas fa-list-ul"></i>
                  <p class="ml-1">List Products</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/products/create" class="nav-link">
                  <i class="fas fa-plus"></i>
                  <p class="ml-1">Add Products</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/admin/checkout" class="nav-link">
              <i class="fas fa-cash-register"></i>
              <p class="ml-1">
                Checkout List
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview {% if 'invoice' in request.url_rule.endpoint %} menu-open {% endif %}"> <!-- menu-open -->
            <a href="#" class="nav-link"> <!-- active -->
              <i class="fas fa-exchange-alt"></i>
              <p class="ml-1">
                Transaction
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ml-4">
              <li class="nav-item">
                <a href="/admin/invoice/p" class="nav-link">
                  <i class="fas fa-list-ul"></i>
                  <p class="ml-1">List Purchases</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/invoice/s" class="nav-link">
                  <i class="fas fa-list-ul"></i>
                  <p class="ml-1">List Sales</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/invoice/create" class="nav-link">
                  <i class="fas fa-plus"></i>
                  <p class="ml-1">Create Transaction</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/admin/notification/create" class="nav-link">
              <i class="fas fa-bell"></i>
              <p class="ml-1">
                Create Notification
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  