<ul class="top-cart-row">
    <div class="top-cart-row-container">
        <div class="top-cart-holder dropdown animate-dropdown">
            <div class="basket" id="cart-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">    
                    <div class="basket-item-count">
                        <!-- <span class="count">10</span> -->
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    
                    <div class="total-price-basket">
                        <span class="total-price">
                            <span class="sign">NPR </span>
                            <span class="value">{{cart.grand_total}}</span>
                        </span>
                    </div>
                </a>

                <ul class="dropdown-menu">
                    <div id="navCartItems" style="overflow:scroll; max-height: 500px;">
                        {% for item in cartItems %}
                        <li>
                            <div class="basket-item">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 no-margin text-center">
                                        <div class="thumb">
                                            <img alt="" height="50px" width="80px" src="{{ url_for('static', filename='images/products/'+ item.product.image) }}" />
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <div class="title">{{item.product.name}}</div>
                                        <div>Qty: {{item.quantity}}</div>
                                        <div class="price">Rs. {{item.product.current_price * item.quantity}}</div>
                                    </div>
                                </div>
                                <span><i class="fas fa-minus close-btn" onclick="removeInCart('{{item.product.id}}')"></i></span>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                    <li class="checkout">
                        <div class="basket-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="/cart/checkout" class="le-button">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ul>