<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Vendor css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous">
    
    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'include/navbar.html' %}

    {% block body %}{% endblock %}
    
    {% include 'include/footer.html' %}

    <!-- Vendor js -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>