{% extends "admin/admin-base.html" %}

{% block title %} Product List {% endblock %} 

{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product List</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="admin-datatable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Old Price</th>
                    <th>Current Price</th>
                    <th>Quantity</th>
                    <th style="width:200px;">Image</th>
                    <th>Brand</th>
                    <th>New Arrival</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.old_price}}</td>
                            <td>{{product.current_price}}</td>
                            <td>{{product.qty}}</td>
                            <td><img width="200px" height="100px" src="{{ url_for('static', filename='images/products/'+ product.image) }}" alt=""></td>
                            <td>{{product.brand.name}}</td>
                            <td>{{product.is_new_arrival}}</td>
                            <td>
															<a class="btn btn-primary btn-xs" href="/admin/products/edit/{{product.id}}">Edit</a>
															<a class="btn btn-danger btn-xs" href="/admin/products/delete/{{product.id}}">Delete</a>
														</td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock content %}
