<nav class="fixed-top">
    <nav class="navbar navbar-expand-sm bg-black">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">Contact Us: 9843936821</li>
            </ul>
            <ul class="navbar-nav" id="navAuth">
                <!-- getting nav items from auth/nav-ajax -->
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Sasto Bazaar
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-60 row justify-content-around pl-4 main-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Brands
                        </a>
                        <div class="dropdown-menu" id="brandList" aria-labelledby="navbarDropdown">
                            <!-- getting list from nav-ajax -->
                        </div>
                    </li>
                    <li class="nav-item"><a href="/gaming-laptop" class="nav-link">Gaming Laptops</a></li>
                    <li class="nav-item"><a href="/desktop" class="nav-link">Desktop</a></li>
                    <li class="nav-item"><a href="/new-arrival" class="nav-link">New Arrivals</a></li>
                </ul>
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown" id="nav-right-notification">
                        <!-- Getting notification from nav-notification -->
                    </li>
                    <li class="nav-item dropdown" id="nav-right-cart">
                        <!-- Getting cart from nav-ajax -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>      
</nav>