<nav class="navbar navbar-expand-sm bg-black">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">Contact Us: 9843936821</li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/u/signup" class="nav-link p-0 px-2">Sign Up</a></li>
            <li class="nav-item"><a href="/u/login" class="nav-link p-0 px-2">Login</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Ecommerce
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Acer</a>
                        <a class="dropdown-item" href="#">Asus</a>
                        <a class="dropdown-item" href="#">HP</a>
                        <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </li>
                <li class="nav-item"><a href="/gaming-laptop" class="nav-link">Gaming Laptops</a></li>
                <li class="nav-item"><a href="/desktop" class="nav-link">Desktop</a></li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Electronics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> --> <!-- need to create electronic model -->
                <li class="nav-item"><a href="/new-arrival" class="nav-link">New Arrivals</a></li>
            </ul>

            <div id="nav-right">
            </div>
        </div>
    </div>
</nav>