<ul class="row list remove-bullet">
    {% for product in products %}
        <li class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" class="name">{{ product.name }}</a>
                    </h4>
                    <h5> <span class="current_price">NPR {{ product.current_price }}</span> <strike>NPR {{ product.old_price }}</strike></h5> 
                    <p class="card-text">{{ product.short_description }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>