{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block body %}
<div class="container" style="padding-top: 128px; min-height: 86vh;">
    <div class="row">
        <div class="col-lg-12">
            <div id="product-list">
                <div class="card mb-4">
                    <div class="card-body">
                        <input class="form-control search w-50 mb-3" placeholder="Search the list">
                        <button class="sort" data-sort="name">Sort by Name</button>
                        <button class="sort" data-sort="current_price">Sort by Price</button>
                    </div>
                </div>
            
                {% include 'product/product-card.html' %}
                
                {% if products|length > 6 %}
                    <ul class="pagination"></ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJavaScripts %}
    <script src="{{ url_for('static', filename='js/product-filter.js') }}"></script>
{% endblock %}