body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.bg-black {
    background-color: #000;
    color: #ccc;
}

a {
    color: #ccc;
}

a:hover {
    color: #444;
}

.remove-bullet {
    list-style-type: none;
    padding-left: 0;
}

.toast-fixed {
    display: none;
    position: fixed;
    top: 25%;
    right: 10px;
    width: auto;
    border: 3px solid #73AD21;
}

.auth-form {
    padding: 40px;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    box-shadow: 10px 10px 19px 6px rgba(0,0,0,0.75) ;
    -webkit-box-shadow: 10px 10px 19px 6px rgba(0,0,0,0.75) ;
    -moz-box-shadow: 10px 10px 19px 6px rgba(0,0,0,0.75) ;
}

.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.auth-form h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.auth-form input[type="text"]:focus,
.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.auth-form input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.auth-form input[type="submit"]:hover {
    width: 150px;
    background: #2ecc71
}

/* list.js */
.sort {
    padding:0px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
}
.sort:focus {
    outline:none;
}
.sort:hover {
    text-decoration: none;
    background-color:#1b8aba;
    cursor: pointer;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.pagination>li {
    border: #000 solid 2px;
    margin: 0 2px;
}
.pagination .active a {
    background-color: #000;
    color: #fff !important;
}
.pagination a:hover {
    background-color: #000;
    color: #fff !important;
}
.pagination>li>a {
    padding: 5px 10px;
}

.top-cart-row .wishlist-compare-holder {
    line-height: 24px;
    margin: 0 18px 0 0;
    font-size: 13px;
}
.top-cart-row .wishlist-compare-holder a {
    color: #3D3D3D;
}
.top-cart-row .wishlist-compare-holder i {
    transition: 0.3s ease;
    color: #c6c6c6;
    margin: 0 10px 0 0px;
    font-size: 14px;
}
.top-cart-row .top-cart-holder {
    position: relative;
}
.top-cart-row .top-cart-holder .checkout a {
    display: inline-block;
}
.top-cart-row .top-cart-holder .dropdown-menu {
    width: 332px;
    left: -250px;
    top: 65px;
    padding: 16px 0 0 0;
}
.top-cart-row .top-cart-holder li {
    border-bottom: 1px solid #e0e0e0;
}
.top-cart-row .top-cart-holder .basket-item {
    padding: 11px 28px;
    position: relative;
}
.top-cart-row .top-cart-holder .basket-item .thumb {
    border: 1px solid #e0e0e0;
    text-align: center;
}
.top-cart-row .top-cart-holder .basket-item .title {
    font-weight: 100;
    line-height: 26px;
}
.top-cart-row .top-cart-holder .basket-item .close-btn {
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 41%;
}
.top-cart-row .top-cart-holder .basket-item .close-btn:hover {
    color: #999;
    cursor: pointer;
}
.top-cart-row .top-cart-holder .basket-item-count {
    position: relative;
}
.top-cart-row .top-cart-holder .basket-item-count .count {
    position: absolute;
    color: #fff;
    background-color: #444;
    top: 2px;
    left: 30px;
    border-radius: 100px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.top-cart-row .top-cart-holder .dropdown-toggle {
    display: block;
    padding: 0;
}
.top-cart-row .top-cart-holder .dropdown-toggle .lbl {
    font-size: 14px;
    line-height: 21px;
    color: #3D3D3D;
    display: block;
}
.top-cart-row .top-cart-holder .dropdown-toggle .total-price {
    font-size: 22px;
    font-weight: bold;
}
.top-cart-row .top-cart-holder .dropdown-toggle:after {
    display: none;
}
.top-cart-row .top-cart-holder .total-price-basket {
    margin: 0 0 0 5px;
}